body {
  background-color: #fef4e8 !important;
}

:root {
  --body-color: #fef4e8;
  --main-color: #f99821;
  --hover-text-color: #ff8c00;
}
.contact {
  padding: 4%;
}
.col-md-3 {
  background: #f99821 !important;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: #404d68;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}

.btn:hover {
  color: white;
  background: #2f3742;
}

.navbar-nav > .nav-item:first-child {
  position: relative;
}

.navbar-brand {
  width: 120px;
}

.navbar-nav > .nav-item:first-child .nav-link {
  color: black;
}

.navbar-nav > .nav-item:first-child .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: 8px;
  bottom: 0;
  background-color: var(--hover-text-color);
}

.navbar-nav > .nav-item:first-child .nav-link:hover::before {
  width: calc(100% - 16px);
}

.navbar-nav > .nav-item:first-child .nav-link:hover {
  color: var(--hover-text-color);
}

.home-btn-login {
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 0 10px;
  cursor: pointer;
  margin-left: 15px;
}

li.home-btn-login.nav-item .nav-link {
  color: white;
  font-weight: 500;
}

li.home-btn-login.nav-item:hover .nav-link {
  color: white;
}

.home-btn-login {
  background-color: #f99821;
  border-radius: 8px;
  padding: 0 10px;
  cursor: pointer;
  margin-left: 15px;
}

.home-btn-login:hover {
  background-color: #e9860d;
}

.nav-link::before {
  transition: all 0.3s;
}

.navbar-nav > .nav-item:first-child .nav-link:hover::before {
  width: calc(100% - 16px);
}

.navbar-nav > .nav-item:first-child .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: 8px;
  bottom: 0;
  background-color: var(--hover-text-color);
}

footer {
  border-top: 1px solid orange;
  margin-top: 40px;
  padding: 10px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .social-icon {
  display: flex;
  gap: 15px;
}

footer .container .social-icon a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #404d68;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer .container .social-icon a i {
  font-size: 20px;
  color: #fef4e8;
  transition: all 0.3s;
}

footer .container .social-icon a i:hover {
  font-size: 28px;
}

@media (max-width: 991.8px) {
  /* Home Navbar */
  .navbar-collapse {
    margin-top: -30px;
    margin-bottom: 20px;
  }

  nav ul {
    margin-top: 15px;
    background-color: var(--main-color);
    position: relative;
  }

  nav ul::before {
    content: '';
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent var(--main-color) transparent;
    right: 15px;
    top: -19px;
  }

  .navbar-nav .nav-item .nav-link:first-child {
    border-bottom: 1px solid rgb(245, 245, 245);
  }

  .navbar-nav .nav-item .nav-link {
    text-align: center;
    color: white !important;
  }

  .home-btn-login {
    margin-left: 0;
  }
}
