@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Scheherazade+New:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --body-color: #fef4e8;
  --main-color: #f99821;
  --hover-text-color: #ff8c00;
}

body {
  background-color: var(--body-color);
}

/* Home-Navbar */

.navbar-nav > .nav-item:first-child {
  position: relative;
}

.navbar-brand {
  width: 120px;
}

.navbar-nav > .nav-item:first-child .nav-link {
  color: black;
}

.navbar-nav > .nav-item:first-child .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: 8px;
  bottom: 0;
  background-color: var(--hover-text-color);
}

.navbar-nav > .nav-item:first-child .nav-link:hover::before {
  width: calc(100% - 16px);
}

.navbar-nav > .nav-item:first-child .nav-link:hover {
  color: var(--hover-text-color);
}

.home-btn-login {
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 0 10px;
  cursor: pointer;
  margin-left: 15px;
}

li.home-btn-login.nav-item .nav-link {
  color: white;
  font-weight: 500;
}

li.home-btn-login.nav-item:hover .nav-link {
  color: white;
}

/* Home-Content  */

.home-content {
  padding: 60px 0 10px 0;
}

.home-content .container {
  display: flex;
  align-items: center;
}

.home-content .container .home-text {
  animation: left 2s ease;
  padding-bottom: 40px;
  width: 80%;
}

.home-content .home-main-text {
  font-family: 'Scheherazade New', serif;
  font-weight: bolder;
  font-size: 50px;
  color: #20325a;
  margin-bottom: 20px;
}

.home-content .home-sub-text {
  color: #505153;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-bottom: 40px;
  width: 80%;
}

.home-content .home-sub-text .home-head-text {
  color: var(--hover-text-color);
  font-weight: bold;
  font-size: 24px;
  font-family: 'Scheherazade New', serif;
}

.home-content .home-btn-getStart {
  border: none;
  background-color: var(--main-color);
  padding: 12px 18px;
  border-radius: 5px;
  font-size: 18px;
}

.home-content .home-btn-getStart a {
  color: white;
  text-decoration: none;
}

.home-image {
  animation: right 2s ease;
}

.home-image img {
  width: 100%;
}

@keyframes left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Mutual */

.navbar-nav li,
.home-content .home-btn-getStart,
.navbar-nav > .nav-item:first-child .nav-link::before {
  transition: all 0.3s;
}

.home-btn-login:hover,
.home-btn-getStart:hover {
  background-color: #e9860d;
}

footer {
  border-top: 1px solid orange;
  margin-top: 40px;
  padding: 10px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .social-icon {
  display: flex;
  gap: 15px;
}

footer .container .social-icon a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #404d68;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer .container .social-icon a i {
  font-size: 20px;
  color: #fef4e8;
  transition: all 0.3s;
}

footer .container .social-icon a i:hover {
  font-size: 28px;
}

@media (max-width: 991.8px) {
  /* Home Navbar */
  .navbar-collapse {
    margin-top: -30px;
    margin-bottom: 20px;
  }

  nav ul {
    margin-top: 15px;
    background-color: var(--main-color);
    position: relative;
  }

  nav ul::before {
    content: '';
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent var(--main-color) transparent;
    right: 15px;
    top: -19px;
  }

  .navbar-nav .nav-item .nav-link:first-child {
    border-bottom: 1px solid rgb(245, 245, 245);
  }

  .navbar-nav .nav-item .nav-link {
    text-align: center;
    color: white !important;
  }

  .home-btn-login {
    margin-left: 0;
  }

  /* Home Content */

  .home-content {
    padding-top: 20px;
  }

  .home-content .container {
    flex-direction: column;
  }
  .home-content .container .home-text {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 0;
    width: 95%;
  }
  .home-content .home-sub-text {
    width: 100%;
  }
  span.two {
    display: none;
  }
}
